
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund&display=swap');

body {
  margin: 0;
  font-family: 'Playwrite DE Grund', sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #ffffb3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 350px) {
  html {
    font-size: 12px;
  }
}
